<!--
 NG-ZORRO
<a href="https://github.com/NG-ZORRO/ng-zorro-antd" target="_blank" style="display: flex;align-items: center;justify-content: center;height: 100%;width: 100%;">
  <img height="300" src="https://img.alicdn.com/tfs/TB1X.qJJgHqK1RjSZFgXXa7JXXa-89-131.svg">
</a>-->

<!--
<div nz-row>
  <div nz-col nzSpan="12" style="background-color: deepskyblue">col-12</div>
  <div nz-col nzSpan="12">demo in col-12</div>
</div>
<div nz-row>
  <div nz-col nzSpan="8">col-8</div>
  <div nz-col nzSpan="8">Demo in col-8</div>
  <div nz-col nzSpan="8">col-8</div>
</div>
-->


<div nz-row>
  <div nz-col nzSpan="4" nzSm="24" nzXs="24" nzMd="6" class="logo">
    The AMAZING Web 1 site of Manos Karadimos
  </div>
  <div nz-col nzSpan="14" nzSm="24" nzXs="24" nzMd="10">
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item>Main Page</li>
      <li nz-menu-item>nav 2</li>
      <li nz-menu-item>nav 3</li>
    </ul>
  </div>
  <div nz-col nzSpan="4" nzSm="24" nzXs="24" nzMd="4">
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item>FB</li>
      <li nz-menu-item>LinkedIn</li>
      <li nz-menu-item>Github</li>
    </ul>
  </div>
</div>

